body {
	margin: 0;
	padding: 0;
	background-color: rgba(251, 251, 251, 0.6);
}

* {
	box-sizing: border-box;
}
.datepicker {
	margin-bottom: 5px !important;
}
.tabs .tab a:hover,
.tabs .tab a.active {
	background-color: transparent;
	color: #3f51b5;
}
.tabs {
	background-color: transparent;
}
.tabs .tab a {
	color: #3f51b5;
}
.tabs .indicator {
	background-color: #3f51b5;
}
.switch label input[type="checkbox"]:checked + .lever {
	background-color: #3f51b5;
}
.switch label input[type="checkbox"]:checked + .lever:after {
	background-color: #fcfcfc;
	left: 24px;
}
[type="checkbox"].filled-in:checked + label:after {
	border: 2px solid #3f51b5;
	background-color: #3f51b5;
}
.btn:hover,
.btn-large:hover {
	background-color: #3f51b5;
}
a {
	color: #3f51b5;
}
.btn,
.btn-large {
	background-color: #3f51b5;
}
li {
	list-style-type: disc !important;
	margin-left: 1rem;
}
.selectedLabel {
	font-weight: 400;
	color: #333333;
}

.unselectedLabel {
	font-weight: 300; 
	color: #666666; 
}

.selectedLabel, .unselectedLabel {
	transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

