.issueLink{
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgb(0, 65, 175)!important;
    /* font-size: 14px!important; */
    font-weight: 600!important;
}
